<body class="h-[100vh]">
    <section class="bg-cover h-[50%] " style="backgroundImage:url(../assets/images/cloverBack.jpg)">
        <div class="h-full bg-gradient-to-r from-[#08b5cc9f] from-18% via-[#1162adde] via-30% to-[#921bc99f] to-82% ...">
            <div class="h-[110px] bg-slate-2">
                <img src="./assets/images/film-roll.png" width="90" class="ml-16 pt-4"/>
            </div>
            <div class="text-[white] text-center font-black font-mono">
                <p class=" text-[60px]">My Picture Editor</p>
                <p class="text-[26px]">Very easy to use editing tool!</p>
            </div>
            <div class="relative w-full justify-end flex">
                <img src="./assets/images/blue-leaf.png" width="300" class="mr-[400px] -mt-[130px] absolute"/>
            </div>
            
        </div>
    </section>
    <section class="h-[50%] flex justify-center items-center">
        <app-remove-back-ground></app-remove-back-ground>
    </section>
</body>

