@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;

.text-shadow {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.6));
}

.text-shadow-light {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

.family-jost {
    font-family: 'Jost', sans-serif;
}

.original {
    background-image: url(./assets/images/back.png);
    position: relative;
    background-size: cover; 
    width: 100%;
}

.edit {
    background-image: url(./assets/images/back.png);
    position: absolute;
    background-size: cover; 
    width: 100%;
    filter: brightness(.5);
    margin-left: 100px;
}

:root {
    --image-comparison-slider-width: min(100%, 400px);
}

#image-comparison-slider {
    width: var(--image-comparison-slider-width);
    cursor: col-resize;
    position: relative;
}

#image-comparison-slider img {
    display: block;
    object-fit: cover;
    width: var(--image-comparison-slider-width);
    height: auto;
    max-height: 100%;
    pointer-events: none;
    user-select: none;
}

#image-comparison-slider .img-wrapper {
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#image-comparison-slider .img-wrapper img {
    position: absolute;
    top: 0;
    right: 0%;
    height: 100%;
}

.myCheck {
    cursor: pointer;
    appearance: none;
    width: 79px;
    height: 79px;
}

.myCheck:checked {
    border-width: 4px;
    border-radius: 8px;
    border-color: rgb(52, 174, 190);
    border-style: solid;
    top: -2px;
    right: -2px;
}

.checkType {
    cursor: pointer;
    appearance: none;
    background-color: #317fb37c;
    top: -30px;
    height: 30px;
}

.checkType:checked {
    background-color: #317fb3cc;
    top: -30px;
    height: 30px;
}

.mat-expansion-panel {
    appearance: none;
    background-color: #317fb37c;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
}

.mat-expansion-panel:focus {
    appearance: none;
    background-color: transparent;
}

.mat-expansion-panel-header {
    appearance: none;
    background-color: transparent;
}

.mat-expansion-panel-header:focus {
    appearance: none;
    background-color: transparent;
}


@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0;}
